body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-manrope: Manrope;
  --font-righteous: Righteous;
  --font-inter: Inter;
  --font-sen: Sen;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-sm: 14px;
  --font-size-26xl-6: 45.6px;
  --font-size-17xl: 36px;
  --font-size-8xl: 27px;
  --font-size-lg: 18px;
  --font-size-smi-9: 12.9px;
  --font-size-base-6: 16.6px;
  --font-size-smi-7: 12.7px;
  --font-size-2xs-1: 10.1px;
  --font-size-xs-8: 11.8px;
  --font-size-4xs-8: 8.8px;
  --font-size-lg-4: 18.4px;
  --font-size-smi-1: 12.1px;
  --font-size-5xs: 8px;
  --font-size-2xl-4: 21.4px;
  --font-size-mid: 17px;
  --font-size-base-1: 16.1px;
  --font-size-2xs-7: 10.7px;
  --font-size-sm-6: 13.6px;
  --font-size-base-8: 15.8px;

  /* Colors */
  --color-white: #fff;
  --color-hotpink-100: #fa5c98;
  --color-hotpink-200: #e04280;
  --color-snow: #fffcfc;
  --color-lightgray-100: #d7d7d7;
  --color-lightgray-200: #cdcdcd;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-silver-100: #c7c7c7;
  --color-silver-200: #c6c6c6;
  --color-silver-300: #c1c1c1;
  --color-silver-400: #b9b9b9;
  --color-silver-500: #b7b7b7;
  --color-gray-100: #888;
  --color-gray-200: #191919;
  --color-gray-300: rgba(255, 255, 255, 0);
  --color-black: #000;
  --color-lavenderblush-100: #fff2f8;
  --color-lavenderblush-200: rgba(255, 237, 244, 0.38);
  --color-lavenderblush-300: rgba(255, 238, 246, 0.54);
  --secondary-pink-flamingo: #301f4a;
  --color-darkslateblue-100: rgba(48, 31, 74, 0.35);
  --color-whitesmoke-100: #f7f7f7;
  --color-whitesmoke-200: #f4f5f8;
  --color-whitesmoke-300: #f0f0f0;
  --color-darksalmon-100: #e6896d;
  --color-darksalmon-200: #e28569;
  --third-pink-flamingo: #dc8064;
  --color-darksalmon-300: rgba(230, 137, 109, 0.8);
  --color-chocolate: #c0590f;
  --color-darkgray: #979797;
  --color-limegreen: #22d734;
  --color-orange: #ff9900;
  --color-orangered: #e73c17;
  --color-mediumseagreen: #12a05c;

  /* Gaps */
  --gap-xl: 20px;
  --gap-10xl: 29px;
  --gap-sm: 14px;
  --gap-4xs: 9px;
  --gap-10xs: 3px;
  --gap-326xl-4: 345.4px;
  --gap-154xl: 173px;
  --gap-67xl: 86px;
  --gap-18xl: 37px;
  --gap-base: 16px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-xl-5: 20.5px;
  --gap-50xl: 69px;
  --gap-15xl: 34px;
  --gap-16xl: 35px;
  --gap-mini: 15px;
  --gap-36xl: 55px;
  --gap-21xl: 40px;
  --gap-25xl-4: 44.4px;
  --gap-3xl: 22px;
  --gap-base-5: 16.5px;
  --gap-smi-9: 12.9px;
  --gap-smi-1: 12.1px;
  --gap-30xl: 49px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-23xl-3: 42.3px;
  --gap-base-6: 15.6px;
  --gap-40xl-8: 59.8px;
  --gap-11xl: 30px;
  --gap-9xl-7: 28.7px;
  --gap-xs-4: 11.4px;
  --gap-7xs-5: 5.5px;
  --gap-3xs-4: 9.4px;
  --gap-smi: 13px;
  --gap-8xs: 5px;
  --gap-lg: 18px;
  --gap-9xs: 4px;
  --gap-2xs: 11px;
  --gap-xl-1: 20.1px;
  --gap-7xs-3: 5.3px;
  --gap-xl-9: 20.9px;
  --gap-5xs-4: 7.4px;
  --gap-smi-7: 12.7px;
  --gap-mid: 17px;

  /* Paddings */
  --padding-46xl: 65px;
  --padding-153xl: 172px;
  --padding-130xl: 149px;
  --padding-89xl: 108px;
  --padding-35xl: 54px;
  --padding-67xl: 86px;
  --padding-23xl: 42px;
  --padding-xl: 20px;
  --padding-78xl: 97px;
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-16xl: 35px;
  --padding-76xl: 95px;
  --padding-25xl: 44px;
  --padding-189xl: 208px;
  --padding-85xl: 104px;
  --padding-28xl: 47px;
  --padding-6xs: 7px;
  --padding-mini: 15px;
  --padding-4xs: 9px;
  --padding-8xs: 5px;
  --padding-4xl: 23px;
  --padding-50xl: 69px;
  --padding-60xl: 79px;
  --padding-15xl: 34px;
  --padding-2xl: 21px;
  --padding-14xl: 33px;
  --padding-32xl: 51px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-3xl: 22px;
  --padding-mid: 17px;
  --padding-lgi: 19px;
  --padding-sm: 14px;
  --padding-2xs: 11px;
  --padding-10xl: 29px;
  --padding-29xl: 48px;
  --padding-24xl: 43px;
  --padding-22xl: 41px;
  --padding-34xl: 53px;
  --padding-31xl: 50px;
  --padding-51xl: 70px;
  --padding-11xl: 30px;
  --padding-11xl-3: 30.3px;
  --padding-169xl: 188px;
  --padding-58xl: 77px;
  --padding-75xl: 94px;
  --padding-33xl: 52px;
  --padding-172xl: 191px;
  --padding-4xs-6: 8.6px;
  --padding-7xs-8: 5.8px;
  --padding-smi-5: 12.5px;
  --padding-base: 16px;
  --padding-base-8: 15.8px;
  --padding-3xs-8: 9.8px;
  --padding-smi: 13px;
  --padding-3xs-2: 9.2px;
  --padding-9xs-2: 3.2px;
  --padding-lg-9: 18.9px;
  --padding-11xs-5: 1.5px;
  --padding-9xs-7: 3.7px;
  --padding-6xl-9: 25.9px;
  --padding-136xl: 155px;
  --padding-smi-1: 12.1px;
  --padding-517xl: 536px;
  --padding-249xl: 268px;
  --padding-10xs-6: 2.6px;
  --padding-80xl: 99px;
  --padding-10xs: 3px;
  --padding-208xl: 227px;
  --padding-94xl: 113px;
  --padding-37xl: 56px;
  --padding-xs-9: 11.9px;
  --padding-173xl: 192px;
  --padding-77xl: 96px;
  --padding-8xl: 27px;
  --padding-3xs-6: 9.6px;
  --padding-3xs-5: 9.5px;
  --padding-9xs-1: 3.1px;
  --padding-13xl-3: 32.3px;
  --padding-7xl: 26px;
  --padding-3xs: 10px;
  --padding-mini-1: 14.1px;
  --padding-9xl: 28px;
  --padding-2xs-9: 10.9px;
  --padding-10xs-9: 2.9px;
  --padding-18xl: 37px;
  --padding-9xs-4: 3.4px;
  --padding-base-3: 15.3px;
  --padding-174xl: 193px;
  --padding-6xs-8: 6.8px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-6xs: 7px;
  --br-11xs: 2px;
  --br-2xl: 21px;
  --br-lgi: 19px;
  --br-48xl: 67px;
  --br-smi: 13px;
  --br-8xs-5: 4.5px;
}
